In programming functions are groups of related statements that performs a specific task. They help to divide large codes into smaller parts and help us understand it easily and can make change to them easily.

In [4]:
def greet(name):
    print("Annyong", name)
    print("how do you do")
  
greet("Kim nam joon")

Annyong Kim nam joon
how do you do

now we will see how to give multiple arguements to the functions.

In [5]:
def add_num(n1,n2):
    result = n1+n2
    print("the sum is: ", result)
    
number1 = 41.25
number2 = 45.45
add_num(number1,number2)

the sum is:  86.7

In [29]:
#return statement
def add_num(n1,n2):
    result = n1+n2
    return result 

number1 = 45.12
number2 = 14.14
result = add_num(number1,number2)
print("the sum is: ", result)

the sum is:  59.26

In [30]:
def city(name,location):
    city_name = print('the name of the city is: ', name)
    city_location = print("the location is: ",location)
    #return(city_name,city_location)

city("India","america")

the name of the city is:  India
the location is:  america

In [31]:
 def kpop(name,members):
        band_name = print('the name of the band is: ', name)
        num_of_member = print("the number of members: ", members)

kpop("bts", "seven")

the name of the band is:  bts
the number of members:  seven

In [33]:
def multiply(n1,n2):
    product = n1*n2
    print("the product is: ", product)
    #return(product)

num_1 = 14
num_2 = 18
multiply(num_1,num_2)

the product is:  252

In [37]:
marks = [55,64,75,80,34]

length = len(marks)
print("the length of marks is:",length)

the length of marks is: 5

In [38]:
marks = [55,64,75,80,34]

total = sum(marks)
print("the total of it is: ", total)

the total of it is:  308

In [43]:
#function to get the average marks 
marks = [55,64,75,80,65]
def find_average_marks(marks):
    sum_of_marks = sum(marks)
    total_subject = len(marks)
    average_marks = sum_of_marks / total_subject
    return(average_marks)

average_marks = find_average_marks(marks)
print("the average mark is: ", average_marks)

#function to calculate the grade
def compute_grade(average_marks):
    if average_marks >=80:
        grade = 'A'
    elif average_marks>=60:
        grade = "B"
    elif average_marks>=50:
        grade = "C"
    else:
        grade = "F"
    return grade

grade = compute_grade(average_marks)
print("your grade is: ", grade)

the average mark is:  67.8
your grade is:  B

In [44]:
#programming task
def add_numbers(m1,m2):
    addition = m1 + m2
    return(addition)
number1 = 14
number2 = 1
product = add_numbers(number1,number2)
print("the addition of the two numbers is: ", product)

the addition of the two numbers is:  15

In [45]:
def multiply_numbers(r1,r2):
    multiply = r1*r2
    return(multiply)

first_num=6
second_number =7
stored = multiply_numbers(first_num, second_number)
print("the sum of the product is: ", stored)

the sum of the product is:  42

A function is a block of code that defines a specific task.
we use the def keyword to define the function.
To bring the function into action we need to call the function, The same function can be called many times as we want.
We can pass values to the functions these values are called parameters or argurments.
The return statement can be used inside the function.It returns the value from a function and exits the function.

In [47]:
marks = [55,64,75,80,34]
def mean(marks):
    total_value = sum(marks)
    total_length = len(marks)
    mean_value = sum(marks)/ len(marks)
    return(mean_value)

Value_of_mean = mean(marks)
print("the value of the mean is: ", Value_of_mean)

the value of the mean is:  61.6

In [1]:
character = ["p","r","i","y","a","d","a","n","g","l","e"]

def strip(character):
    for i in character:
        if i == "i":
            continue
        print(i)
        
var = strip(character)

p
r
y
a
d
a
n
g
l
e

In [2]:
subjects = ['english','maths','history','science','civics','algebra']

for i in subjects:
    if i == 'civics':
        break
    print(i)

english
maths
history
science

In [4]:
def sub(j1,j2):
    subtraction = j1 - j2
    return(subtraction)

number1 = 45
number2 = 15
product_of_multiplication = sub(number1, number2)
print("the product is: ", product_of_multiplication)

the product is:  30

In [5]:
def exp(d1,d2):
    exponential = d1**d2
    return(exponential)

num1 = 2
num2 = 4

product = exp(num1,num2)
print("the product of exponential: ",product)

the product of exponential:  16